<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Screen_Grab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Screen_Grab.Properties.Settings>
            <setting name="Startx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Starty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uploadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="apikey" serializeAs="String">
                <value />
            </setting>
            <setting name="provider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="penColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="penSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="announce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="announceuri" serializeAs="String">
                <value />
            </setting>
            <setting name="announceauthor" serializeAs="String">
                <value />
            </setting>
            <setting name="announcechannel" serializeAs="String">
                <value />
            </setting>
        </Screen_Grab.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
